{% extends "base.html" %}

{% block content %}
<div class="booth-detail-container">
    <h2 class="booth-title">{{ booth.name }} 상세 정보</h2>
    <div class="booth-detail">
        <!-- 부스 이미지 -->
        <div class="booth-image">
            <img src="{{ url_for('static', filename='images/booth_image_1.jpg') }}" alt="부스 이미지">
        </div>

        <!-- 부스 설명 및 번호 -->
        <div class="booth-description">
            <p><strong>부스 제목:</strong> {{ booth.name }}</p>
            <p><strong>부스 번호:</strong> {{ booth.number }}</p>
            <p><strong>부스 설명:</strong> {{ booth.description }}</p>
        </div>
        
        <!-- 부스 상세 정보 -->
        <div class="booth-info-button-container">
            <p><strong>상세 정보:</strong> {{ booth.details }}</p>
        </div>
    </div>
</div>
{% endblock %}
