{% extends "base.html" %}

{% block content %}
<div class="home-container">
    <div class="link-item">
        <a href="/notice">
            <p>공지사항</p>
        </a>
    </div>
    <div class="link-item">
        <a href="/booth-food">
            <p>부스 & 푸드트럭</p>
        </a>
    </div>
    <div class="link-item">
        <a href="/lineup">
            <p>라인업</p>
        </a>
    </div>
    <div class="link-item">
        <a href="/schedule">
            <p>축제 일정</p>
        </a>
    </div>
    <div class="link-item">
        <a href="/qna">
            <p>자주 하는 질문</p>
        </a>
    </div>
</div>
{% endblock %}
