{% extends "base.html" %}

{% block content %}
<div class="lineup-container">
    <header class="lineup-header">
        <div class="lineup-title">
            <h1>라인업</h1>
        </div>
        <div class="tab-buttons">
            <button class="tab-button active" id="day1-tab">1 DAY</button>
            <button class="tab-button" id="day2-tab">2 DAY</button>
        </div>
    </header>

    <div class="lineup-content">
        <!-- Day 1 Section -->
        <div id="day1-content" class="day-content active">
            <div class="card-container">
                <div class="card" style="display: block;">
                    <img src="{{ url_for('static', filename='images/psy.png') }}" id="artist-image1" class="artist-image" alt="싸이">
                    <div class="card-content">
                        <div class="section-line"></div>
                        <h2 id="headline1">싸이</h2>
                        <p><strong>아티스트 소개</strong></p>
                        <p id="desc1">싸이(PSY)는 대한민국의 가수이자 래퍼, 프로듀서로, 본명은 박재상이다. 2001년 데뷔한 그는 유쾌한 음악과 독창적인 퍼포먼스로 대중의 사랑을 받았다. 2012년 발표한 글로벌 히트곡 ‘강남스타일(Gangnam Style)’은 유튜브에서 폭발적인 인기를 얻으며 세계적인 인지도를 얻었다. 이후로도 ‘젠틀맨’, ‘대디’ 등 다양한 히트곡을 발표했으며, 2019년에는 기획사 피네이션(P NATION)을 설립해 아티스트로서뿐 아니라 프로듀서로도 활약하고 있다.</p>
                        <div class="section-line"></div>
                        <p><strong>주요 인기곡</strong></p>
                        <div class="album-container">
                            <a href="https://youtu.be/9bZkp7q19f0" class="album-item" id="album1" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album1.jpg') }}" alt="앨범 1" class="album-image" id="album-image1">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title1">강남스타일</h3>
                                    <p class="album-artist" id="album-artist1">싸이6</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/ASO_zypdnsQ" class="album-item" id="album2" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album2.jpg') }}" alt="앨범 2" class="album-image" id="album-image2">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title2">젠틀맨</h3>
                                    <p class="album-artist" id="album-artist2">싱글앨범</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/FrG4TEcSuRg" class="album-item" id="album3" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album3.jpg') }}" alt="앨범 3" class="album-image" id="album-image3">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title3">DADDY</h3>
                                    <p class="album-artist" id="album-artist3">싸이7</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card" style="display: none;">
                    <img src="{{ url_for('static', filename='images/nd2.png') }}" id="artist-image2" class="artist-image" alt="너드">
                    <div class="card-content">
                        <div class="section-line"></div>
                        <h2 id="headline2">너드커넥션</h2>
                        <p><strong>아티스트 소개</strong></p>
                        <p id="desc2">너드커넥션(Nerd Connection)은 2017년에 결성된 대한민국의 4인조 록 밴드로, 감성적인 록 발라드와 서정적인 멜로디로 주목받고 있다. 이들은 '어지러운 세상, 따뜻한 음악'이라는 슬로건을 내세워 활동하며, 1990~2000년대의 영국 록 밴드들(Radiohead, Coldplay, Oasis 등)과 한국의 김광석, 넬 등으로부터 영향을 받았다.</p>
                        <div class="section-line"></div>
                        <p><strong>주요 인기곡</strong></p>
                        <div class="album-container">
                            <a href="https://youtu.be/IMWT6937uUs?si=aSl6TSj3MzMWXDfI" class="album-item" id="album4" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album4.jpg') }}" alt="앨범 4" class="album-image" id="album-image4">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title1">그대만 있다면</h3>
                                    <p class="album-artist" id="album-artist1">싱글앨범</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/g-rZeTNIw7E?si=OwbrSvva_u7OrTCc" class="album-item" id="album5" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album5.jpg') }}" alt="앨범 5" class="album-image" id="album-image5">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title2">좋은 밤 좋은 꿈</h3>
                                    <p class="album-artist" id="album-artist2">싱글 앨범</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/W25_xvZWKMw?si=EUouvpbTI7-0-KHt" class="album-item" id="album6" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album6.jpg') }}" alt="앨범 6" class="album-image" id="album-image6">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title3">조용히 완전히 영원히</h3>
                                    <p class="album-artist" id="album-artist3">New Century Masterpiece Cinema</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-prev">&#10094;</button>
            <button class="carousel-next">&#10095;</button>
        </div>

        <!-- Day 2 Section -->
        <div id="day2-content" class="day-content">
            <div class="card-container">
                <div class="card" style="display: block;">
                    <img src="{{ url_for('static', filename='images/bh2.png') }}" id="artist-image4" class="artist-image" alt="이경규">
                    <div class="card-content">
                        <div class="section-line"></div>
                        <h2 id="headline4">백호</h2>
                        <p><strong>아티스트 소개</strong></p>
                        <p id="desc4">백호(Baekho)는 2012년 보이그룹 뉴이스트(NU'EST)의 메인보컬로 데뷔한 대한민국의 가수로, 감미로운 음색과 뛰어난 가창력을 바탕으로 많은 사랑을 받아왔다. 그룹 활동 이후 2022년 솔로로 전향해 다양한 음악 스타일을 선보이며 아티스트로서의 입지를 넓혀가고 있으며, 최근에는 예능과 팬미팅 등 다방면에서 활발히 활동 중이다.</p>
                        <div class="section-line"></div>
                        <p><strong>주요 인기곡</strong></p>
                        <div class="album-container">
                            <a href="https://youtu.be/XqfnTlwcjuQ?si=LC4jI-bxt7NrEU-C" class="album-item" id="album10" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album7.jpg') }}" class="album-image" id="album-image10">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title1">No Rules</h3>
                                    <p class="album-artist" id="album-artist1">Absolute Zero</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/OiX8H-_sJuA?si=50LeIXcewuhFrvtA" class="album-item" id="album11" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album8.jpg') }}" class="album-image" id="album-image11">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title2">엘리베이터</h3>
                                    <p class="album-artist" id="album-artist2">싱글앨범</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/szXpSZanlqs?si=W6_1dCbkeh13bWjY" class="album-item" id="album12" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album9.jpg') }}" class="album-image" id="album-image12">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title3">너티 너티 (Nutty Nutty)</h3>
                                    <p class="album-artist" id="album-artist3">싱글앨범</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card" style="display: none;">
                    <img src="{{ url_for('static', filename='images/hz2.png') }}" id="artist-image5" class="artist-image" alt="신동엽">
                    <div class="card-content">
                        <div class="section-line"></div>
                        <h2 id="headline5">헤이즈</h2>
                        <p><strong>아티스트 소개</strong></p>
                        <p id="desc5">헤이즈(Heize)는 대한민국의 인기 가수이자 작곡가로, 감성적인 보컬과 독특한 음악 스타일로 많은 사랑을 받고 있는 아티스트이다. 1991년 8월 9일 대구에서 태어난 헤이즈는 2014년 첫 EP Heize로 데뷔한 이후, 다양한 힙합과 R&B 장르를 넘나드는 음악을 선보이며 대중의 마음을 사로잡았다. 헤이즈만의 감성적이고 진정성 있는 음악을 통해, 다양한 이들에게 위로와 공감을 전달하며 꾸준히 사랑받고 있는 아티스트이다.</p>
                        <div class="section-line"></div>
                        <p><strong>주요 인기곡</strong></p>
                        <div class="album-container">
                            <a href="https://youtu.be/XUR8QByF2As?si=6V3KcN3kARrFxgzS" class="album-item" id="album13" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album10.jpg') }}" class="album-image" id="album-image13">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title1">저 별</h3>
                                    <p class="album-artist" id="album-artist1">싱글앨범</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/afxLaQiLu-o?si=w5f_EtWioeL15w6p" class="album-item" id="album14" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album11.jpg') }}" class="album-image" id="album-image14">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title2">비도 오고 그래서</h3>
                                    <p class="album-artist" id="album-artist2">/// (너 먹구름 비)</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/rCeM57e2BfU?si=hqXOrd_N63pTP8q1" class="album-item" id="album15" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album12.jpg') }}" class="album-image" id="album-image15">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title3">And July</h3>
                                    <p class="album-artist" id="album-artist3">And July</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card" style="display: none;">
                    <img src="{{ url_for('static', filename='images/qw2.png') }}" id="artist-image6" class="artist-image" alt="김구라">
                    <div class="card-content">
                        <div class="section-line"></div>
                        <h2 id="headline6">QWER</h2>
                        <p><strong>아티스트 소개</strong></p>
                        <p id="desc6">QWER는 뉴미디어 콘텐츠 스튜디오 3Y코퍼레이션의 타마고 프로덕션과 뮤직 퍼블리셔 프리즘필터가 공동 제작한 글로벌 걸밴드이다. 이름은 온라인 게임의 스킬 키(Q·W·E·R)를 의미하며, 각기 다른 매력과 능력을 지닌 4인 4색의 멤버가 모여 다채로운 음악을 선보이겠다는 포부로 결성되었다.</p>
                        <div class="section-line"></div>
                        <p><strong>주요 인기곡</strong></p>
                        <div class="album-container">
                            <a href="https://youtu.be/ImuWa3SJulY?si=uPpFGUs0xcEkcBk_" class="album-item" id="album16" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album13.jpg') }}" class="album-image" id="album-image16">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title1">고민중독</h3>
                                    <p class="album-artist" id="album-artist1">1st Mini Album 'MANITO'</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/WGm2HmXeeRI?si=rKnhmcZbg6nCjq5O" class="album-item" id="album17" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album14.jpg') }}" class="album-image" id="album-image17">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title2">Discord</h3>
                                    <p class="album-artist" id="album-artist2">Harmony from Discord</p>
                                </div>
                            </a>
                            <a href="https://youtu.be/AlirzLFEHUI?si=qZxpsjYqkELtTj8W" class="album-item" id="album18" target="_blank">
                                <img src="{{ url_for('static', filename='images/new-album15.jpg') }}" class="album-image" id="album-image18">
                                <div class="album-details">
                                    <h3 class="album-title" id="album-title3">내 이름 맑음</h3>
                                    <p class="album-artist" id="album-artist3">Algorithm's Blossom</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-prev">&#10094;</button>
            <button class="carousel-next">&#10095;</button>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/lineup.js') }}"></script>
{% endblock %}