{% extends "base.html" %}

{% block content %}
<div class="notice-container">
    <h2 class="notice-title">공지사항</h2>

    <div class="notice-item">
        <span>2025 국립순천대학교 Fairy Tale 개최 안내</span>
        <span class="dropdown-icon">▼</span>
    </div>
    <div class="notice-item">
        <span>2025 국립순천대학교 Fairy Tale 개최 안내</span>
        <span class="dropdown-icon">▼</span>
    </div>
    <div class="notice-item">
        <span>2025 국립순천대학교 Fairy Tale 개최 안내</span>
        <span class="dropdown-icon">▼</span>
    </div>
    <div class="notice-item">
        <span>2025 국립순천대학교 Fairy Tale 개최 안내</span>
        <span class="dropdown-icon">▼</span>
    </div>
</div>
{% endblock %}
