/* 기본 배경 이미지 설정 (PC) */
body {
    background-image: url("../images/bg.png"); // PC용 배경
    background-repeat: no-repeat;
    background-attachment: fixed; // 배경 고정
    background-position: center;
    background-size: cover; // 화면을 꽉 채우도록 배경 크기 설정
    display: flex;
    flex-direction: column;
    min-height: 100vh; // 페이지가 화면을 꽉 채우도록 설정
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
  }
  
  .link-item p {
    font-weight: bold; // 굵은 글씨
  }
  
  /* 모바일 배경 이미지 설정 */
  @media (max-width: 768px) {
    body {
      background-image: url("../images/mobile.png"); // 모바일용 배경
      background-size: cover; // 모바일 화면에 맞게 배경을 꽉 채움
    }
  }
  
  /* 전체 컨테이너 */
  .container {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 60px); // 푸터 높이를 제외한 전체 화면 높이로 설정
    background: transparent;
  }
  
  /* 헤더 영역 */
  .header {
    background: transparent;
    padding: 20px;
    text-align: center;
    box-shadow: none;
    border: none;
    position: relative;
    z-index: 1000;
  }
  
  .header .logo {
    font-size: 2.5rem;
    color: #8e7dbe;
  }
  
  .header nav a {
    margin: 0 15px;
    text-decoration: none;
    font-size: 1rem;
    color: #8e7dbe;
    padding: 10px;
  }
  
  .header nav a:hover {
    color: #ffffff;
    background-color: #8e7dbe;
    border-radius: 5px;
  }
  
  /* 햄버거 아이콘 */
  .menu-bar {
    display: block;
    font-size: 30px;
    cursor: pointer;
    color: white;
    position: fixed;  // 햄버거 버튼을 고정시킴
    top: 20px;        // 화면 상단에서 20px 떨어지게 설정
    right: 20px;      // 화면 오른쪽에서 20px 떨어지게 설정
    z-index: 1001;    // 최상단에 위치
  }
  
  /* 햄버거 메뉴 */
  .menu-open {
    display: none; // 기본적으로 메뉴는 숨김
    flex-direction: column;
    background: rgba(255, 255, 255, 0.7); // 흰색 배경에 70% 투명도
    position: fixed; // 메뉴를 고정시켜서 스크롤에 맞게 내리도록 함
    top: 70px; // 햄버거 버튼 바로 아래
    right: 0;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // 약간의 그림자 효과
    width: 200px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1002; // 햄버거 메뉴 최상단
  }
  
  /* 햄버거 메뉴가 열렸을 때 */
  .menu-bar.open + .menu-open {
    display: flex !important; // 메뉴 열기
  }
  
  /* 메뉴 항목 스타일 */
  .menu-open a {
    margin: 10px 0;
    text-decoration: none;
    color: #8e7dbe;
    padding: 10px 15px;
    font-size: 1rem;
    background-color: transparent;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  /* 메뉴 항목 hover 스타일 */
  .menu-open a:hover {
    background: #8e7dbe;
    color: white;
    border-radius: 5px;
  }
  